<form action='/downloader/home/' method="post">
{% csrf_token %}
<input type="submit" class="button" name="type" value="Images"/>
<input type="submit" class="button" name="type" value="Videos"/>
<input type="submit" class="button" name="type" value="Audios"/>
<input type="submit" class="button" name="type" value="CSS"/>
<input type="submit" class="button" name="type" value="Scripts"/>
<input type="submit" class="button" name="type" value="Source"/>
<input type="submit" class="button" name="type" value="Tags"/>
<input type="submit" class="button" name="type" value="Help"/>
</form>


