{%extends 'main.html'%}
{%block contents%}
<b><ul>
<li> Input any url to view source</li>
<li> Download any type of data on a website</li>
<li> Smart Css and script downloader with html5 videos and audio</li>
<li> Don't search the whole site for pictures , our image extracctor will list all</li>
<li>More features are coming soon....</li>
</ul>
<ol type="1">
	<li>SWf Downloader</li>
	<li>Streaming video Downloader</li>
	<li>Automate Downloader </li>
	<li>And many more .....stay tuned</li>
</ol>
{%endblock%}
